@import url('https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower');
iframe[seamless] {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #2a323f;
    background-image: url("bg.png");
    background-repeat: repeat-x;
}
#container{

}
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    color: #FCFFF5;
    margin-left: 120px;
}
h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color:#3E606F;
}
h3{
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    color:#3E606F;
}


h4 {
    font-family: 'Comfortaa', cursive;
    color: #3E606F;
}
p4 {
    font-family: 'Comfortaa', cursive;
}
p5{
  color: white;
}
#footer{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.portfolioItem {
    background-color: rgb(255,255,255,0.40);
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
}
.textItem {
    padding-left: 10px;
}


p1 {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}
#head {
    width: 500px;
    background: radial-gradient(#193441,#192431);
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid darkgray;
}
#current-resume {
    margin: auto;
    width:auto;
}
#nav {
    height: 45px;
}
#nav2 {
    width: 50%;
    margin: 0 auto;
}
.navButton {
    display: inline;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    padding: 10px;
    width: 27%;
    height: 45px;
    background-color: #D1DBBD;
    color:#3E606F;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 200ms;
    margin-left: 20px;
}
.gitButton {
    display:block;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    padding-left: 10px;
    width: 150px;
    height: 50px;
    color:#3E606F;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 200ms;
    margin-left: 10px;
    margin-top: 10px;
}
.socialButton {
    background-color: transparent;
    border: none;
    display: inline;
    background-size: 100%;
    height: 32px;
    width: 32px;
    margin-left: 23%;
    margin-top: 30px;
    border-radius: 50%;
}
.navButton:hover {
    background-color: whitesmoke;
}
.socialButton:hover {
    background-color: #193441;
}
.gitButton:hover {
    background-color: gray;
}
#body {
    width: 99%;
}
.contentItem {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255,255,255,0.75);
    margin-top: 20px;
    padding: 10px;
    border: 5px solid darkgray;
    border-radius: 5px;
}
#current-resume {
    width: 100%;
}
#resume-image {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border: 5px solid darkgray;
}
