<DOCTYPE html>
    <html lang="en" dir="ltr">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <title>Porter Libby</title>
            <meta charset="utf-8">
    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

            <link rel="stylesheet" type="text/css" href="css/main.css" />
            <link rel="stylesheet" type="text/css" href="css/about.css" />
            <link rel="stylesheet" type="text/css" href="css/projects.css" />
            <link rel="stylesheet" type="text/css" href="css/contact.css" />
            <link rel="stylesheet" type="text/css" href="css/cubes.css" />
        </head>
        <body onload="start()" style='opacity: 0'> 
            <div style='top: 0px; left: 0px;width: 100%; height: 100vh; position: absolute; overflow: hidden;'>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
            </div>
            <div style='top: 0px; left: 0px;width: 100%; height: 100vh; position: absolute; padding-top: 10vh; padding-left: 10vw;'>
                
                <h1 onclick="swap(1);fadeProjectsO()" >Porter Libby</h1>
                <h3>Developer</h3>
                <div id='slide1'>
                    <span onclick="swap(2)" class="link">About</span><br>
                    <span onclick="swap(3);fadeProjectsI()" class="link">Projects</span><br>
                    <span onclick="swap(4)" class="link">Contact</span>
                </div>
                <div id='slide2'>
                    <h2><i onclick="swap(1)" class="back fas fa-arrow-circle-left"></i> About</h2>
                    <div class='about'>
                        <div class='about-text'>
                            <p1>I am a recent graduate of the Earlham College Computer Science department. I love creating unique tools and learning new things. My favorite part about computer science is the constant evolution and improvement, whether it be a project iterating toward perfection, or the tools used in the programming environment itself.</p1>
                            <br>
                            <p1>My main focus is web development. I love the intersection between scripting and design that creates meaningful, effective experiences for people to interact with. </p1>
                            <br>
                            <p1>Web development isn’t all I can do though; my undergraduate research project was about a unique new algorithm for improving the image detecting capabilities of machine learning using Python and Fast.ai. I have also worked with researchers in Iceland, creating custom tools using Java, Python, and more for terrestrial surveying of Viking archeology sites.</p1>
                        </div>
                        <div class='about-tools'>
                            <h4 style='text-decoration: underline; width: 100%; text-align: center;'>Languages</h4>
                            <p2>HTML5</p2><br>
                            <p2>CSS3</p2><br>
                            <p2>Javascript</p2><br>
                            <p2>Typescript</p2><br>
                            <p2>JQuery</p2><br>
                            <p2>ReactJS</p2><br>
                            <p2>NodeJS</p2><br>
                            <p2>Java</p2><br>
                            <p2>Python</p2><br>
                            <p2>React Native</p2><br>
                            <p2>C#</p2><br><br><br>
                        </div>
                        <div class='about-tools'>
                            <h4 style='text-decoration: underline; width: 100%; text-align: center;'>Tools</h4>
                            <p2>VS Code</p2><br>
                            <p2>CodePen</p2><br>
                            <p2>Github / Gitlab</p2><br>
                            <p2>Terminal</p2><br>
                            <p2>SSH</p2><br>
                            <p2>Figma</p2><br>
                            <p2>Bootstrap</p2><br>
                            <p2>NPM</p2><br>
                            <p2>Android Studio</p2><br>
                            <p2>Visual Studio</p2><br>
                            <p2>Unity</p2><br>
                        </div>
                    </div>
                </div>
                <div id='slide3' style='width: 80%'>
                    <h2><i onclick="swap(1);fadeProjectsO()" class="back fas fa-arrow-circle-left"></i> Projects</h2>
                    <div class='projects'>
                        <div class='project'>
                            <h4>Datavis</h4>
                            <img src='./images/datavis-screenshot.png'>
                            <p1>
                                <span>HTML / CSS / JS</span><span>NodeJS</span><span>PostgreSQL</span><span>ChartJS</span><span>ArcGIS</span>
                            </p1>
                        </div>
                        <div class='project'>
                            <h4>Spellbound</h4>
                        </div>
                        <div class='project'>
                            <h4>Solar Polar Clock</h4>
                        </div>
                        <div class='project'>
                            <h4>Composite Edge Machine Learning</h4>
                        </div>
                        <div class='project'>
                            <h4>Dex</h4>
                        </div>
                        <div class='project'>
                            
                        </div>
                    </div>
                </div>
                <div id='slide4'>
                    <h2><i onclick="swap(1)" class="back fas fa-arrow-circle-left"></i> Contact</h2>
                    <p1>I am seeking opportunities to collaborate and work together with people on cool, innovative projects. I take pride in making efficient and effective solutions, and I want to apply my experience and knowledge in a way that reflects this. Feel free to reach out to me via email, or through any of the other platforms below.</p1>
                    <br>
                    
                    <br>
                    <div class="social-container">
                        
                        <ul class="social-icons">
                            <li><a href="https://github.com/probably-not-porter"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.npmjs.com/~pelibby16"><i class="fab fa-node-js" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/porter-libby/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <p1 class='email' onclick='copyToClipboard("porter.libby@hotmail.com")'><span>porter.libby@hotmail.com</span></p1>
                    <a href="./PorterLibby_Resume.pdf" download><p1  class='resume'><span>Resume PDF</span></p1></a>
                </div>
            </div>
            <script>
                function swap(n){
                    var slides = [
                        document.getElementById("slide1"), 
                        document.getElementById("slide2"), 
                        document.getElementById("slide3"), 
                        document.getElementById("slide4")
                    ];
                    for (x=1; x<5; x++){
                        if (x == n){
                            if (slides[x-1].style.display == 'none'){
                                fadeI(slides[x-1].id);
                            }
                        }
                        else{
                            if (slides[x-1].style.display != 'none'){
                                fadeO(slides[x-1].id);
                            }
                        }
                    }
                }
                function start(){
                    $(".project").each(function(index) {
                        $(this).delay(0).fadeOut(0);
                    });
                    $("body").animate({
                        opacity: 1
                    }, 400);
                    $("#slide2").animate({
                        right: '200px',
                        opacity: 0,
                        show: 'toggle',
                    }, 0);
                    $("#slide3").animate({
                        right: '200px',
                        opacity: 0,
                        show: 'toggle',
                    }, 0);
                    $("#slide4").animate({
                        right: '200px',
                        opacity: 0,
                        show: 'toggle',
                    }, 0);
                }
                function fadeO(elemName){
                    $("#" + elemName).animate({
                        right: '200px',
                        opacity: 0,
                        show: 'toggle'
                    }, 200);
                    
                }
                function fadeI(elemName){
                    setTimeout(function(){ 
                        $("#" + elemName).animate({
                            right: '200px',
                            opacity: 1,
                            show: 'toggle'
                        }, 200);
                     }, 200);
                    
                }
                function fadeProjectsI(){
                    console.log('project fade')
                    $(".project").each(function(index) {
                        $(this).delay(150*index).fadeIn(300);
                    });
                }
                function fadeProjectsO(){
                    console.log('project fade')
                    $(".project").each(function(index) {
                        $(this).delay(200*index).fadeOut(300);
                    });
                }

                function copyToClipboard(text) {
                    var dummy = document.createElement("input");
                    document.body.appendChild(dummy);
                    dummy.setAttribute('value', text);
                    dummy.select();
                    document.execCommand('copy');
                    document.body.removeChild(dummy);
                }
            </script>
        </body>
        
    </html>