<DOCTYPE html>
<html lang="en" dir="ltr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Porter Libby</title>
        <meta charset="utf-8">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/links.css" />
        <link rel="stylesheet" type="text/css" href="css/main1.css" />
        <link rel="stylesheet" type="text/css" href="css/social.css" />
        
    </head>
    <body>
          <h1>< Porter Libby /></h1>
          <div id='nav'>
            <div class="sm-link sm-link_padding-bottom sm-link3">
              <span class="sm-link__label">About</span> 
            </div>

            <div class="sm-link sm-link_padding-bottom sm-link3">
              <span class="sm-link__label">Projects</span>
            </div>

            <div class="sm-link sm-link_padding-bottom sm-link3">
              <span class="sm-link__label">Resume</span>
            </div>
          </div>
        
        <ul>
            <li>
              <a href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
        </ul>
    </body>
    
</html>
