/* ABOUT */
.about{
    display: inline-block;
    width: 80vw;
    margin-bottom: 100px;
}
.about-text{
    width: 49%;
    display: inline-block;
    float: left;
}
.about-tools{
    width: 24%;
    display: inline-block;
    text-align: center;
    float: left;
}
.devicon{
    width: 100px;
    height: 100px;
    filter: invert(5);
}
.devicon:hover{
    filter: invert(10);
}
.devicon path{
    fill: #fff;
}