@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: black;
    background-image: url("../img_bg/bg.png");
    background-repeat: repeat-x;
}
#header{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    height: 100px;
    width: 50%;
    min-width: 200px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}
#title{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.content_item{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    height: 300px;
    width: 70%;
    min-width: 625px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid black;
}

.content_image{
    z-index: 1;
    float: right;  
    min-height: 300px;
    max-height: 100%;
    min-width: 300px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


.content_title_bar{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
    min-width: 200px;
}

.content_item_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.content_item_title{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.content_item_content{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 20pt;

}