@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #ddd;
}

.content_item{
    background-color: #bbb;
    border-radius: 10px;
    height: 300px;
    width: 70%;
    min-width: 625px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    padding-left: 20px;
}

.content_image{
    z-index: 1;
    float: right;  
    min-height: 300px;
    max-height: 100%;
    min-width: 300px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.content_title_bar{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
    min-width: 200px;
}

.content_item_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.content_item_title{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.content_item_content{
    font-family: 'Roboto', sans-serif;

}