/* PROJECTS */
.projects{
    width: 80vw;
}
.project{
    display: inline-block;
    background: rgba(255,255,255,0.1);
    width: 400px;
    height: 250px;
    max-width: 80%;
    margin:20px;
    padding:20px;
    position: relative;
    cursor: pointer;
}
.project *{
    float: left;
    width: 100%;
    text-align: center;
    
}
.project:hover{
    border: 1px solid white;
}