/* PROJECTS */
.projects{
    width: 80vw;
}
.project{
    display: inline-block;
    background: rgba(255,255,255,0.1);
    width: 400px;
    height: 250px;
    max-width: 80%;
    margin:20px;
    padding:20px;
    position: relative;
    overflow: hidden;
    transition-duration: 100ms;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 8px;
}
.project *{
    float: left;
    width: 100%;
    text-align: center;
    transition-duration: 100ms;
    
}
.project h4{
    z-index:2;
    position: relative;
    cursor: pointer;
}
.project h4:hover{
    text-decoration: underline;
}
.project p1{
    opacity:0;
}
.project:hover p1{
    opacity:1;
}
.project img{
    opacity:0.5;
    position: absolute;
    z-index:1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project:hover img{
    opacity:0.1;
}