@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');


body{
  background-color: black;
  background-image: url("../img_bg/bg.png");
  margin:0px;
}
#header{
  width:100%;
  display: block;
  background-image: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.6));
  height: 150px;
}
#title{
  text-align: center;
  margin-bottom: 10px;
  padding-top:20px;
}
#title h{
  color: black;
  font-size: 40px;
  font-family: 'IBM Plex Mono', monospace;
}
#nav{
  display:inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
}


#gitbutton{
  background-image: url("../img_icons/github.png");
}
#facebookbutton{
  background-image: url("../img_icons/facebook.png");
}
#emailbutton{
  background-image: url("../img_icons/email.png");
}
#linkedinbutton{
  background-image: url("../img_icons/linkedin.png");
}
#nodejsbutton{
  background-image: url("../img_icons/nodejs.png");
}
#instagrambutton{
  background-image: url("../img_icons/insta.png");
}
.navbutton{
  width: 40px;
  height: 40px;
  background-size: 100%;
  display:inline-block;
  margin: 0px 10px;
  border-radius: 50%;
}
.navbutton:hover{
  background-color: white;
  transition-duration: 0.5s;
}
