@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');
*{
  box-sizing:content-box;
}

body{
  background-color: black;
  background-image: url("../img_bg/bg.png");
  background-repeat: repeat-x;
  margin:0px;
  text-align: center;
}
.nes-btn{
  font-family: "Press Start 2P";
  font-size: 12px;
}
#header{
  width:100%;
  display: block;
  background-image: linear-gradient(rgba(245,245,245,0.8), rgba(245,245,245,0.5));
  height: 170px;
  position: fixed;
  top: 0px;
  z-index: 2;
}
#content{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 2000px;
  min-width: 200px;
  background-color:rgba(245,245,245,0.5);
  border: 5px solid rgba(0,0,0,0.1);
  text-align: left;
  padding: 5px;
  font-family: 'IBM Plex Mono', monospace;

}
#content_item{
  margin-bottom: 30px;
  padding: 10px;
  border:1px solid rgba(245,245,245,0.5);
  background-color: rgba(245,245,245,0.2);
  border-radius: 5px;
}
#title{
  text-align: center;
  margin-bottom: 10px;
}
#title h{
  color: black;
  font-size: 30px;
  font-family: "Press Start 2P";
}
h2{
  color: black;
  font-size: 15px;
  font-family: "Press Start 2P";
}
#internalnav{
  color: black;
  margin-top: 10px;
  font-size: 20px;
  font-size: 14px;
  font-family: "Press Start 2P";
}
#nav{
  display:inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: "Press Start 2P";
}
a{
  font-family: "Press Start 2P";
}
.content_image{
  width: 250px;
  position:relative;
  float:right;
  border:2px solid black;
  margin-left: 20px;
}
.content_text{
  width: 100%;
  padding:5px;
  min-height: 250px;
  margin-right: 310px;
  text-align: justify;
  z-index: 1;
}

#gitbutton{
  background-image: url("../img_icons/github.png");
}
#facebookbutton{
  background-image: url("../img_icons/facebook.png");
}
#emailbutton{
  background-image: url("../img_icons/email.png");
}
#linkedinbutton{
  background-image: url("../img_icons/linkedin.png");
}
#nodejsbutton{
  background-image: url("../img_icons/nodejs.png");
}
#instagrambutton{
  background-image: url("../img_icons/insta.png");
}
.navbutton{
  width: 40px;
  height: 40px;
  background-size: 100%;
  display:inline-block;
  margin: 0px 10px;
  border-radius: 50%;
}
.navbutton:hover{
  transition-duration: 0.5s;
  filter: invert(10);
}
