@import url('https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower');
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    color: #FCFFF5;
    margin-left: 120px;
}
#nav {
    display: table;
    height: 45px;
    table-layout: fixed;
}
#nav2 {
    display: table;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}
.navButton {
    display: inline;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    height: 45px;
    width: 150px;
    background-color: #D1DBBD;
    color:#3E606F;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 200ms;
    margin-left: 10px;
}
.socialButton {
    background-color: transparent;
    border: none;
    display: inline;
    background-size: 100%;
    height: 32px;
    width: 32px;
    margin-top: 30px;
    border-radius: 50%;
    margin-left: 71px;
}
.navButton:hover {
    background-color: whitesmoke;
}
.socialButton:hover {
    background-color: black;
}
