@import url('https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower');
h6 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: #FCFFF5;
    text-align: center;
}
#nav {
  margin-bottom: 40px;
}
#nav2 {
  margin-bottom: 40px;
}
.navButton {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #D1DBBD;
    color:#3E606F;
    border: 1px solid black;
    transition-duration: 200ms;
}
.socialButton {
    background-color: transparent;
    padding: 3px 30px;
    justify-content: center;
    background-position: center;
    border: none;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;s
}
.navButton:hover {
    background-color: whitesmoke;
}
.socialButton:hover {
    background-color: black;
}
