@import url('https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower');

body {
    background-color: #2a323f;
    background-image: url('../img_bg/bg.png');
    background-repeat: repeat-x;
}
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    color: #FCFFF5;
    margin-left: 120px;
}
h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color:#3E606F;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    color:#3E606F;
}
h4 {
    font-family: 'Comfortaa', cursive;
    color: #3E606F;
}
p4 {
    font-family: 'Comfortaa', cursive;
}
p5 {
  color: white;
}
.portfolioItem {
    background-color: rgb(255,255,255,0.40);
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
}
.textItem {
    padding-left: 10px;
}


p1 {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}
#head {
    width: 500px;
    background: radial-gradient(#193441,#192431);
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid darkgray;
}
#current-resume {
    margin: auto;
    width:auto;
}


.gitButton {
    display:block;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    padding-left: 10px;
    width: 150px;
    height: 50px;
    color:#3E606F;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 200ms;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url("img_icons/github.png");
    background-size: 100%

}
.linkButton {
    display:block;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    padding-left: 10px;
    width: 150px;
    height: 50px;
    color:#3E606F;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 200ms;
    margin-left: 10px;
    margin-top: 10px;
}
.gitButton:hover {
    background-color: gray;
}
.linkButton:hover {
    background-color: gray;
}
#body {
    width: 99%;
}
.contentItem {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255,255,255,0.75);
    margin-top: 20px;
    padding: 10px;
    border: 5px solid darkgray;
    border-radius: 5px;
}
#current-resume {
    width: 100%;
}
#resume-image {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border: 5px solid darkgray;
}
